
/* Variables  */

$color1 : #0aacb4;
$color3 :linear-gradient(135deg, rgba(10,129,141,1) 33%, rgba(10,172,180,1) 100%, rgba(132,220,216,1) 100%);;
$color2 : #84dcd8;
//$color3 : #0a818d;
$color4 : #538c8c;
$color5 : #b8c4c4;
$color6 : #294c54;

